/*
 * foulefactoryapi_lib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 09/14/2016
 */
package account_pkg


import(
	"foulefactoryapi_lib/models_pkg"
	"github.com/apimatic/unirest-go"
	"foulefactoryapi_lib"
	"foulefactoryapi_lib/apihelper_pkg"
)
/*
 * Client structure as interface implementation
 */
type ACCOUNT_IMPL struct { }

/**
 * TODO: type endpoint description here
 * @param    string         transactionId       parameter: Required
 * @param    *string        acceptLanguage      parameter: Optional
 * @return	Returns the interface{} response from the API call
 */
func (me *ACCOUNT_IMPL) GetAccountValidateTransaction (
            transactionId string,
            acceptLanguage *string) (interface{}, error) {
        //the base uri for api requests
    _queryBuilder := foulefactoryapi_lib.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/v1.1/accounts/validateTransaction"

    //variable to hold errors
    var err error = nil
    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithQueryParameters(_queryBuilder, map[string]interface{} {
        "transactionId" : transactionId,
    })
    if err != nil {
        //error in query param handling
        return nil, err
    }

    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
        "Accept-Language" : apihelper_pkg.ToString(*acceptLanguage, "fr"),
    }

    //prepare API request
    _request := unirest.GetWithAuth(_queryBuilder, headers, foulefactoryapi_lib.Config.BasicAuthUserName, foulefactoryapi_lib.Config.BasicAuthPassword)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal interface{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil
}

/**
 * Payin
 * @param    *models_pkg.PayinServiceModel        model               parameter: Required
 * @param    *string                              acceptLanguage      parameter: Optional
 * @return	Returns the interface{} response from the API call
 */
func (me *ACCOUNT_IMPL) CreateAccountPayIn (
            model *models_pkg.PayinServiceModel,
            acceptLanguage *string) (interface{}, error) {
        //the base uri for api requests
    _queryBuilder := foulefactoryapi_lib.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/v1.1/accounts/payin"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
        "content-type" : "application/json; charset=utf-8",
        "Accept-Language" : apihelper_pkg.ToString(*acceptLanguage, "fr"),
    }

    //prepare API request
    _request := unirest.PostWithAuth(_queryBuilder, headers, model, foulefactoryapi_lib.Config.BasicAuthUserName, foulefactoryapi_lib.Config.BasicAuthPassword)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal interface{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil
}

/**
 * Get wallet
 * @return	Returns the interface{} response from the API call
 */
func (me *ACCOUNT_IMPL) GetAccountGetWallet () (interface{}, error) {
        //the base uri for api requests
    _queryBuilder := foulefactoryapi_lib.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/v1.1/accounts/wallet"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
    }

    //prepare API request
    _request := unirest.GetWithAuth(_queryBuilder, headers, foulefactoryapi_lib.Config.BasicAuthUserName, foulefactoryapi_lib.Config.BasicAuthPassword)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal interface{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil
}

/**
 * Create new account
 * @param    *models_pkg.AccountWriterServiceModel        acc                 parameter: Required
 * @param    *string                                      acceptLanguage      parameter: Optional
 * @return	Returns the interface{} response from the API call
 */
func (me *ACCOUNT_IMPL) CreateAccountCreateAccount (
            acc *models_pkg.AccountWriterServiceModel,
            acceptLanguage *string) (interface{}, error) {
        //the base uri for api requests
    _queryBuilder := foulefactoryapi_lib.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/v1.1/accounts"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
        "content-type" : "application/json; charset=utf-8",
        "Accept-Language" : apihelper_pkg.ToString(*acceptLanguage, "fr"),
    }

    //prepare API request
    _request := unirest.PostWithAuth(_queryBuilder, headers, acc, foulefactoryapi_lib.Config.BasicAuthUserName, foulefactoryapi_lib.Config.BasicAuthPassword)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal interface{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil
}

/**
 * Get my account
 * @return	Returns the interface{} response from the API call
 */
func (me *ACCOUNT_IMPL) GetAccountGet () (interface{}, error) {
        //the base uri for api requests
    _queryBuilder := foulefactoryapi_lib.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/v1.1/accounts"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
    }

    //prepare API request
    _request := unirest.GetWithAuth(_queryBuilder, headers, foulefactoryapi_lib.Config.BasicAuthUserName, foulefactoryapi_lib.Config.BasicAuthPassword)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal interface{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil
}

